.container-deck{
    background-color:#2f4f30
}
.carta{
    position: relative;
    width: 150px;
    left:100px;
    margin-left: -75px;
}
#computadora-cartas,#jugador-cartas{
    height: 240px;
}
