body{
    padding: 0;
    margin: 0;
    background: url(colors.JFIF) no-repeat
    center center fixed;
    background-size: cover;
}
.clock{
    height: 320px;
    width: 320px;
    background-color: rgba(255, 255, 255, 0.06);
    position:absolute;
    margin: auto;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    backdrop-filter: blur(5px);
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 30px, 30px, 35px, rgba(0,0,0,0.25);
}
.clock:before{
    content: '';
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
    opacity: 0.6;
}
.imagen{
    height: 320px;
    width: 320px;
    opacity: 0.3;
}
.hand{
    position: absolute;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(0.2);
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    transform-origin: bottom;
}
.hour{
    height: 60px;
    width: 10px;
    top: 100px;
}
.minute{
    height: 80px;
    width: 5px;
    top: 80px;
}
.seconds{
    height: 90px;
    width: 3px;
    top: 70px;
}